<div *ngIf="!visual" id="spinn">
    <img src="../../../../assets/img/spinner-gif.gif">
</div>


<div *ngIf="visual">
    <app-navI></app-navI>
</div>

<div *ngIf="visual" class="all">
    <div class="card" *ngFor="let m of menus" (click)="getId(m.id)">
        <div *ngIf="m.imageUrl">
            <img class="img-restaurant" [src]="'http://'+m.imageUrl">
        </div>
        <div *ngIf="!m.imageUrl">
            <img class="img-restaurant" [src]="image_default">
        </div>
        <div class="container">
            <h3>{{m.menu_name}}</h3>
            <h4>{{m.precio}}</h4>
        </div>
    </div>
</div>

<div *ngIf="visual">
    <button [routerLink]="['/admin/mis-menus']">Volver</button>
</div>