* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgb(100, 64, 64);
    margin-bottom: 10px;
}

.nav_links #notLog {
    display: inline-block;
    padding: 0 800px;
}

.nav_links li {
    display: inline-block;
    padding: 0 80px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: blue;
}