<div *ngIf="!visual" id="spinn">
    <img src="../../../../assets/img/spinner-gif.gif">
</div>

<div *ngIf="visual">
    <app-nav></app-nav>
</div>


<div class="all" *ngIf="visual">
    <div (click)="getId(r.id)" class="card" *ngFor="let r of restaurants">
        <div *ngIf="r.imageUrl">
            <img class="img-restaurant" [src]="'http://'+r.imageUrl">
        </div>
        <div *ngIf="!r.imageUrl">
            <img class="img-restaurant" [src]="image_default">
        </div>
        <div class="container">
            <h4>{{r.restaurant_name}}</h4>
        </div>
    </div>
</div>