<div *ngIf="!visual" id="spinn">
    <img src="../../../../../assets/img/spinner-gif.gif">
</div>

<div *ngIf="visual">
    <app-nav></app-nav>
</div>

<div *ngIf="visualCompra && visual" class="all">
    <div class="card" *ngFor="let m of menus">
        <div *ngIf="m.imageUrl">
            <img class="img-restaurant" [src]="'http://'+m.imageUrl">
        </div>
        <div *ngIf="!m.imageUrl">
            <img class="img-restaurant" [src]="image_default">
        </div>
        <div class="container">
            <h3>{{m.menu_name}}</h3>
            <h4>{{m.precio}}</h4>
        </div>
        <button (click)="aumentar(m.id, m.precio)">aumentar</button>
        <button (click)="descartar(m.id, m.precio)">eliminar</button>
    </div>
</div>

<div *ngIf="menu_compilado">
    <div class="all">
        <div class="card" *ngFor="let c of compilador">
            <div *ngIf="c.imageUrl">
                <img class="img-restaurant" [src]="'http://'+c.imageUrl">
            </div>
            <div *ngIf="!c.imageUrl">
                <img class="img-restaurant" [src]="image_default">
            </div>

            <div class="container">
                <h3>{{c.menu_name}}</h3>
                <h4>{{c.precio}}</h4>
            </div>
        </div>
    </div>
</div>

<div *ngIf="visualCompra && visual">
    <h3>{{cantidad}}</h3>
    <button (click)="canBuy()">Buy</button>
</div>

<div *ngIf="!visualCompra && visual">
    <button (click)="confirmar()">Confirmal</button>
    <button (click)="return()">Volver</button>
</div>