<h2>Login</h2>
<div *ngIf="isRegVisible">
    <h3>Formulario Registro Usuario</h3>
    <form [formGroup]="formGroup" (ngSubmit)="registerProcessUser()">
        <div>
            <input type="text" placeholder="nombre" formControlName="user_name">
        </div>
        <div>
            <input type="text" placeholder="apellido" formControlName="user_lname">
        </div>
        <div>
            <input type="text" placeholder="email" formControlName="email">
        </div>
        <div>
            <input type="password" placeholder="password" formControlName="password">
        </div>
        <div>
            <input type="text" placeholder="ubication" formControlName="ubication">
        </div>
        <button type="submit">LOGIN</button>
    </form>
</div>
<div *ngIf="isRegVisible == false">
    <h3>Formulario Registro Admin</h3>
    <form [formGroup]="formGroup" (ngSubmit)="registerProcessAdmin()">
        <div>
            <input type="text" placeholder="nombre" formControlName="user_name">
        </div>
        <div>
            <input type="text" placeholder="apellido" formControlName="user_lname">
        </div>
        <div>
            <input type="text" placeholder="email" formControlName="email">
        </div>
        <div>
            <input type="password" placeholder="password" formControlName="password">
        </div>
        <div>
            <input type="text" placeholder="ubication" formControlName="ubication">
        </div>
        <button type="submit">LOGIN</button>
    </form>
</div>

<button *ngIf="isRegVisible == true" (click)="changeLogin()">Si eres administrador usa este boton</button>
<button *ngIf="isRegVisible == false" (click)="changeLogin()">Si eres usuario usa este boton</button>