<h1>Hola Patch</h1>

<div *ngIf="visible">
    <div *ngIf="form">
        <form [formGroup]="myGroup" (ngSubmit)="moverForm()">
            <div>
                <input type="text" placeholder="nombre" formControlName="menu_name">
            </div>
            <div>
                <input type="number" placeholder="precio" formControlName="precio">
            </div>
            <button type="submit ">Siguiente</button>
        </form>
    </div>
    <button [routerLink]="['/admin/all-menus']">Volver</button>
</div>

<div *ngIf="visible">
    <div *ngIf="!form">
        <input type="file" (change)="onFileSelected($event)">
        <button type="button" (click)="postImage()">Guardar con imagen</button>
        <button type="button" (click)="patchMenu()">Guardar sin imagen</button>
        <button (click)="moverForm()">Volver</button>
    </div>
</div>