<h1>Menu Component</h1>
<div *ngIf="form">
    <form [formGroup]="formGroup" (ngSubmit)="moverForm()">
        <div>
            <input type="text" placeholder="nombre" formControlName="menu_name">
        </div>
        <div>
            <input type="number" placeholder="precio" formControlName="precio">
        </div>
        <button type="submit">Siguiente</button>
    </form>
</div>

<div *ngIf="!form">
    <input type="file" (change)="onFileSelected($event)">
    <button type="button" (click)="postImage()">Guardar con imagen</button>
    <button type="button" (click)="postMenus()">Guardar sin imagen</button>
    <button (click)="moverForm()">Volver</button>
</div>