<h2>Login</h2>
<div *ngIf="isLogVisible">
    <h3>Formulario User</h3>
    <form [formGroup]="formGroup" (ngSubmit)="loginProcessUser()">
        <div>
            <input type="text" placeholder="email" formControlName="email">
        </div>
        <div>
            <input type="password" placeholder="password" formControlName="password">
        </div>
        <button type="submit">LOGIN</button>
    </form>
</div>

<div *ngIf="isLogVisible == false">
    <h3>Formulario Admin</h3>
    <form [formGroup]="formGroup" (ngSubmit)="loginProcessAdmin()">
        <div>
            <input type="text" placeholder="email" formControlName="email">
        </div>
        <div>
            <input type="password" placeholder="password" formControlName="password">
        </div>
        <button type="submit">LOGIN</button>
    </form>
</div>

<button *ngIf="isLogVisible == true" (click)="changeLogin()">Si eres administrador usa este boton</button>
<button *ngIf="isLogVisible == false" (click)="changeLogin()">Si eres usuario usa este boton</button>